#
# Copyright IBM Corp All Rights Reserved
#
# SPDX-License-Identifier: Apache-2.0
#
version: '2'
networks:
  default_network:
    external: true
    name: server_network
services:
  lv_shop_api:
    container_name: {CONTAINER_NAME}
    image: {CONTAINER_IMAGE}:1.0
    mem_limit: 1500m
    restart: always
    environment:
      - SPRING_PROFILES_ACTIVE={PROFILES_ACTIVE}
    volumes:
      - /opt/deploy/lvshop/media:/uploads
    networks:
        - default_network
    ports:
      - "192.168.0.10:{PORT}:8383"
